/*---------------------------------------- GENERAL --------------------------------------*/

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto&family=Rubik:wght@300;400;500&display=swap');

    *{
        font-family: 'Poppins', sans-serif;
        padding: 0;
        margin: 0;
}

    body{
        display: grid;
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "main main main main"
        "footer footer footer footer";
        background-image: url(../img/mendoza.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

/* ------------------------------------------Página INDEX ------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */

/*---------------------------------------- HEADER -------------------*/

    header{
        grid-area: header;
        background-color: #8a557c;
        box-shadow: 0px 0px 20px black;

    }
    .cabeza__arriba{  /*Lo que comprende los accesos a redes, título y el logo*/
        display: flex;
        justify-content: space-between;
    }

    .redes{
        display: inline-block;
        margin: 5px;
    }

    .titulo{
        font-size: 3.5em;
        font-weight: 1000;
        color: rgb(255, 255, 255);
        margin-top: 45px;
        text-shadow: 2px 2px 2px black;
        text-align: center;
    }

    .logo{
        width: 150px;
        height: 150px;
        margin: 10px;
        box-shadow: 0px 0px 10px black;
    }

    .cabeza__abajo{ /*Lo que comprende el menú. La parte "baja" de la cabecera*/
        display: flex;
        font-size: 1.5em;
        justify-content: center;
    }

    .menu li{
        list-style-type: none;
        display: inline-block;
    }
    .menu li a{
        text-decoration: none;
        margin: 5px 50px;
        color: white;
        text-shadow: 2px 2px black
    }


/* -------------------------------------MAIN------------------------ */

    main{
        grid-area: main;
    }

 /* --------- Sector Excursiones locales--------- */

    .seccion__imagen1{
        background-image: url(../img/puente_del_inca.jpg);
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px;
        color: white;
        margin: 100px 10px;
        box-shadow: 7px 7px 7px rgb(126, 125, 125);
    }

    .seccion__imagen1 p{
        font-size: 1.3em;
        text-shadow: 2px 2px black;
        
    }
    .seccion__imagen1 h2{
        font-size: 2em;
        font-weight: 1000;
        text-shadow: 3px 2px black;
    }

/* -------Viajes Nacionales--------- */

    .seccion__imagen2{
        background-image: url(../img/Viajes\ Nacionales.jpg);
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px;
        color: white;
        margin: 100px 10px;
        box-shadow: 7px 7px 7px rgb(126, 125, 125);
}

    .seccion__imagen2 p{
        font-size: 1.3em;
        text-shadow: 2px 2px black;
    
}
    .seccion__imagen2 h2{
        font-size: 2em;
        font-weight: 1000;
        text-shadow: 3px 2px black;
}

/* -------Servicios--------- */

.seccion__imagen3{
    background-image: url(../img/Servicios.jpeg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    color: white;
    margin: 100px 10px;
    box-shadow: 7px 7px 7px rgb(126, 125, 125);
}

.seccion__imagen3 p{
    font-size: 1.3em;
    text-shadow: 2px 2px black;

}
.seccion__imagen3 h2{
    font-size: 2em;
    font-weight: 1000;
    text-shadow: 3px 2px black;
}

.ver__mas{
    font-size: 2em;
    color: blue;
}

.btn{
    background-color: #8a557c;
    margin: 10px;
    width: 150px;
    height: 50px;
    border: solid black;
}

/* -----------------------------------FOOTER ------------------------------- */

    footer{
        grid-area: footer;
        background-color: #7a9f20;
        text-align: center;
        padding: 30px;
    }

    .info{
        font-size: 1em;
    }


/* -----------------------------------Página Servicios ----------------------------------------------- */
/* -------------------------------------------------------------------------------------------------- */

    .traslados{
        width: 600px;
        margin: 50px;
        padding: 50px;
        text-align: center;
        background-color: aliceblue;
    }
    .traslados img{
        width: 400px;
        height: 350px;
        
    }

/* -----------------------------------Página Excursiones Nacionales------------------------------------------ */
/* -------------------------------------------------------------------------------------------------- */

.oferta_nacional img{
    width: 400px;
    height: 600px;
    padding: 20px;
    transition: all 300ms;
}
.oferta_nacional img:hover{
    transform: scale(1.7);
}

/* -----------------------------------Página Excursiones Locales------------------------------------------ */
/* -------------------------------------------------------------------------------*/


.locales{
    width: 600px;
    margin: 50px;
    padding: 50px;
    text-align: center;
    background-color: aliceblue;
}
.locales iframe{
    width: 500px;
    height: 350px;
    transition: all 300ms;
}

.locales iframe:hover{
    transform: scale(1.5)
}