@media (max-width: 480px){
    header{
        .logoCuyoTravel{
            padding: 3px;
        }
        nav{
            padding: 2px 2px;
        }
            div{
                padding: 50px;
        }
            img{
                width: 50px;
            }
        }
    .oferta_nacional img{
        width: 350px;
        height: 550px;
        padding: 40px 10px;
        transition: all 300ms;
        &:hover{
            transform: none;
        }
    }
}

